numpy
pandas
scikit-learn
matplotlib
seaborn
dill
flask
flask-cors
langchain
langchain-groq
python-dotenv
faiss-cpu
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
python-docx
ragas
rank-bm25
mlflow
streamlit
langchain-text-splitters
langchain-experimental
langchain-huggingface
langchain-unstructured
unstructured-client
unstructured[all-docs]
unstructured-inference
langchain-classic
-e .